/.classpath
/.project
/.settings/
/.gradle/
/build/
/alizarin-crimson/
/bangladesh-green/
/candy-pink/
/dim-gray/
/eerie-black/
/fuzzy-wuzzy/
/golden-brown/
/imperial-red/
/japanese-violet/
/lavender-gray/
/navajo-white/
